body {
  width: auto;
  margin: auto;
  background: ffffff;
}
@media (min-width: 660px) and (max-width: 959px) {
  body {
    width: auto;
    margin: auto;
  }
}
@media (min-width: 960px) {
  body {
    width: auto;
    margin: auto;
  }
}