.bottom-footer {
  display: none;
}
@media @tablet {
  .bottom-footer {
    .clearfix();
    display: block;
    padding: 60px 0;
    margin: 0;
    &__container {
      .container();
    }
    &__logo {
      float: left;
      width: 150px;
      margin-right: 70px;
    }
    &__social {
      float: left;
      padding: 0;
      margin: 0;
      list-style: 0;
      width: 200px;
      &-link {
        display: inline-block;
        width: 52px;
        height: 52px;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 0;
        background-color: red;
      }
      &-link:last-child {
        margin-right: 0;
      }
    }
    &__copyright {
      float: right;
      width: 150px;
    }
  }
}
@media @desktop {
  .bottom-footer {
    .clearfix();
    display: block;
    padding: 60px 0;
    margin: 0;
    &__container {
      .container();
    }
    &__logo {
      float: left;
      width: 150px;
      margin-right: 220px;
    }
    &__social {
      float: left;
      padding: 0;
      margin: 0;
      list-style: 0;
      width: 200px;
      &-link {
        display: inline-block;
        width: 52px;
        height: 52px;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 0;
        background-color: red;
      }
      &-link:last-child {
        margin-right: 0;
      }
    }
    &__copyright {
      float: right;
      width: 150px;
    }
  }
}
