.editor {
  text-align: center;
  margin-bottom: 40px;

}
.editor__tools {
  display: inline-block;
  height: 120px;
  margin-top: 40px;

}
.editor__crop {
  width: 50px;
  height: 50px;
}
.editor__fill {
  width: 50px;
  height: 50px;
}
.editor__contrast {
  width: 50px;
  height: 50px;
}
.editor__post {
  display: block;
  width: 202px;
  margin:0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 12px 36px;
  border: 3px solid red;
  border-radius: 25px;
  text-decoration: none;
}
.editor__cancel {
  display: block;
  width: 202px;
  margin:0 auto;;

  margin-bottom: 40px;
  font-size: 18px;
  color: grey;
  padding: 12px 36px;
  border: 3px solid grey;
  border-radius: 25px;
  text-decoration: none;
}
