.features-intro__header {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 660px) and (max-width: 959px) {
  .features {
    &-intro {
      .clearfix();
      width: auto;
      height: 313px;
      &__header {
        float: left;
        width: 300px;
        margin-bottom: 50px;
      }
      &__image {
        float: right;
        display: block;
        width: 320px;
        height: 313px;
      }
    }
  }
}
@media (min-width: 960px) {
  .features {
    &-intro {
      .clearfix();
      width: auto;
      height: 313px;
      &__header {
        float: left;
        width: 300px;
        margin-bottom: 50px;
      }
      &__image {
        float: right;
        display: block;
        width: 320px;
        height: 313px;
      }
    }
  }
}
