.features-intro__header {
  font-size:24px;
  color:#ffffff;
  text-align:center;
  margin-bottom: 50px;
}

.features-download__btn {
  display: block;
  width: 202px;
  margin:0 auto;;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #ffffff;
  padding: 12px 36px;
  border: 3px solid #ffffff;
  border-radius: 25px;
  text-decoration: none;
}

.features-download {
  text-align: center;
}

.features-dowload__os {
  display: inline-block;
  margin-right: 35px;
}

.features-dowload__os--windows {
  margin-right: 0;
}

.features-download__info {
  margin-top: 25px;
  margin-bottom: 30px;
  color: #ffffff;
}
