.features {
  &__container {
    .container();
    padding-bottom: 10px;
  }
  &__header {
    margin: auto;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
  }
}
@media (min-width: 660px) and (max-width: 959px) {
  .features {
    &__container {
      .container();
    }
  }
}
@media (min-width: 960px) {
  .features {
    &__container {
      .container();
    }
  }
}
