.features-download {
  width: 280px;
  text-align: center;
  .features-download__btn {
    display: block;
    width: 202px;
    margin:0 auto;;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #ffffff;
    padding: 12px 36px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    text-decoration: none;
  }
  .features-dowload__os {
    display: inline-block;
    margin-right: 35px;
  }
  .features-dowload__os--windows {
    margin-right: 0;
  }
  .features-download__info {
    margin-top: 25px;
    color: #ffffff;
  }
}

@media (min-width: 321px) and (max-width: 700px) {
  .features-download {
    width: 300px;
    height: 210px;
    margin-top: -250px;
  }
}

@media (min-width: 701px) {
  .features-download {
    width: 300px;
    height: 210px;
    margin-top: -250px;
  }

}
