.feedback {
  .feedback__slider {
    display: none;
  }
  .feedback__slide {
    text-align: center;
    margin-bottom: 80px;
    .feedback__author-info {
      display: none;
    }
  }
  .feedback__slide:nth-child(2) {
    display: none;
  }
  .feedback__slide:nth-child(3) {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 700px) {
  .feedback {
    margin-bottom: 150px;
    margin-top: 100px;
    .feedback__slide {
      padding-top: 20px;
      .feedback__container {
        width: 620px;
        margin: 0 auto;
        .feedback__author {
          margin: 0;
          font-size: 24px;
          font-weight: bold;
        }
        .feedback__author-info {
          display: block;
        }
        .feedback__text {
          width: 620px;
          margin: auto;
          margin-top: -150px;
        }
      }
    }
    .feedback__slide:nth-child(2) {
      display: none;
    }
    .feedback__slide:nth-child(3) {
      display: none;
    }
  }
}


@media (min-width: 701px) {
  .feedback {
    margin-bottom: 100px;
    .feedback__slide {
      padding-top: 120px;
      .feedback__container {
        width: 940px;
        margin: 0 auto;
        .feedback__author {
          margin: 0;
          font-size: 24px;
          font-weight: bold;
        }
        .feedback__author-info {
          display: block;
        }
        .feedback__text {
          width: 690px;
          margin: auto;
          margin-top: -130px;
        }
      }
    }
    .feedback__slide:nth-child(2) {
      display: none;
    }
    .feedback__slide:nth-child(3) {
      display: none;
    }
  }
}
