.form {
  margin-top: 50px;
  text-align: center;
}
.form__description {
  margin-bottom: 40px;
}
.form__fieldset--personal {
  text-align: left;
  margin-bottom: 40px;
}
.form__text{
  padding: 12px 20px;
  margin-bottom: 15px;
  width: 235px;
  border: 2px solid black;
}
.form__label--text {
  display: block;
  color: red;
  margin-bottom: 10px;
}
.form__fieldset--achievements {
  background-color: #f2f2f2;
  padding-top: 30px;
  margin-bottom: 30px;
}
fieldset {
  border: none;
}
legend {
  color: red;
}
.form__checkbox {
  display: none;
}
.form__label--custom {
  display: block;
  margin-bottom: 40px;
}
.form__fieldset--contacts {
  text-align: left;
  margin-bottom: 50px;
}
.form__fieldset--os {
  padding-top: 30px;
  background-color: #f2f2f2;
}
.form__radio {
  display: none;
}
.form__fieldset--emotions {
  margin-bottom: 40px;
  margin-top: 50px;
}
.form__textarea {
  width: 275px;
}
.form__submit {
  margin: auto;
  margin-bottom: 35px;
  padding: 17px 47px;
  width:186px;
  background-color: green;
  color: #ffffff;
}
