.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-top: 47px;
  &__description {
    width: 280px;
    margin: auto;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    &-add {
      display: none;
    }
  }
  &__fieldset--personal {
    .form-fieldset();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 345px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 43px;
    //text-align: left;
    //margin-bottom: 40px;
    //outline: 1px solid red;
  }
  &__text {
    display: block;
    width: 232px;
    height: 59px;
    padding-left: 22px;
    padding-right: 22px;
    .fontinput();
    //margin-bottom: 15px;
    //width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    //box-sizing: border-box;
  }
  &__label--text {
    display: block;
    width: 234px;
    height: 30px;
    padding-top: 18px;
    padding-bottom: 3px;
    padding-left: 23px;
    padding-right: 23px;
    .fontlabel();
    //color: red;
    //margin-bottom: 10px;
    //outline: 1px solid green;
  }
  &__fieldset--achievements {
    .form-fieldset();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 280px;
    height: 449px;
    padding-top: 111px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 49px;
    background-color: #f2f2f2;
    //padding-top: 30px;
    //margin-bottom: 30px;
    //outline: 1px solid green;
  }
  &__legend--achievements {
    .form-legend();
    .fontlabel();
    position: absolute;
    top: 38px;
    left: 51px;
    display: block;
    width: 220px;
    line-height: 18px;
    text-align: center;
    //outline: 1px solid green;
  }
  &__checkbox {
    display: none;
  }
  &__label--custom {
    position: relative;
    display: block;
    width: 210px;
    height: 39px;
    padding-left: 70px;
    .fontinput();
    //margin-bottom: 40px;
    //color: #000000;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 35px;
      border: 2px solid #e5e5e5;
    }
  }
  &__fieldset--contacts {
    .form-fieldset();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 229px;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 54px;
    //text-align: left;
    //margin-bottom: 50px;
    //outline: 1px solid green;
  }
  &__fieldset--os {
    .form-fieldset();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 280px;
    height: 189px;
    padding-top: 107px;
    padding-bottom: 42px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
  }
  &__legend--os {
    .form-legend();
    .fontlabel();
    position: absolute;
    top: 32px;
    left: 66px;
    display: block;
    width: 180px;
    text-align: center;
  }
  &__radio {
    display: none;
  }
  &__label--custom {
    &::before {
      border-radius: 50%;
    }
  }
  &__fieldset--emotions {
    display: flex;
    .form-fieldset();
    position: relative;
    width: 280px;
    height: 201px;
    padding-top: 92px;
    padding-bottom: 47px;
    padding-left: 20px;
    padding-right: 20px;
    //margin-bottom: 40px;
    //margin-top: 50px;
  }
  &__legend--textarea {
    .form-legend();
    .fontlabel();
    position: absolute;
    top: 53px;
    left: 68px;
    display: block;
    width: 185px;
    text-align: center;
  }
  &__textarea {
    .fontinput();
    width: 276px;
    height: 184px;
    padding-top: 17px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #e5e5e5;
  }
  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 130px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__submit {
    .fontinput();
    width: 280px;
    height: 63px;
    background-color: #2aab6d;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border: none;border-radius: 3px;
  }
  &__required {
    .fontinput();
    width: 280px;
    text-align: center;
    text-transform: uppercase;
  }
}
@media @tablet {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2300px;
    margin: auto;
    margin-top: 92px;
    &__description {
     order: 1;
      width: 500px;
      margin: auto;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      text-align: center;
      &-add {
        display: block;
      }
    }
    &__fieldset--personal {
      .form-fieldset();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      order: 2;
      width: 620px;
      height: 295px;
      padding-top: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 0px;
      //text-align: left;
      //margin-bottom: 40px;
      outline: 1px solid red;
    }
    &__text {
      flex-grow: 1;
      display: block;
      width: 475px;
      height: 59px;
      padding-left: 22px;
      padding-right: 22px;
      .fontinput();
      //margin-bottom: 15px;
      //width: 100%;
      border: 2px solid #e5e5e5;
      border-radius: 3px;
      //box-sizing: border-box;
    }
    &__label--text {
      display: block;
      width: auto;
      height: 63px;
      padding: 0;
      padding-right: 20px;
      .fontlabel();
      //color: red;
      //margin-bottom: 10px;
      //outline: 1px solid green;
    }
    &__fieldset--achievements {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      order: 5;
      position: relative;
      width: 556px;
      height: 552px;
      margin: 0 40px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: #ffffff;
      border: 2px solid #e5e5e5;out
      //padding-top: 30px;
      //margin-bottom: 30px;
      outline: 1px solid green;
    }
    &__legend--achievements {
      .form-legend();
      .fontlabel();
      position: absolute;
      top: -8px;
      left: 133px;
      display: block;
      width: 438px;
      line-height: 18px;
      background-color: #ffffff;
      text-align: center;
      //outline: 1px solid green;
    }
    &__checkbox {
      display: none;
    }
    &__label--custom {
      position: relative;
      display: block;
      width: 440px;
      height: 39px;
      padding-left: 60px;
      .fontinput();
      //margin-bottom: 40px;
      //color: #000000;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
        border: 2px solid #e5e5e5;
      }
    }
    &__fieldset--contacts {
      order: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 616px;
      height: 310px;
      padding-top: 0px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 0px;
      border: 2px solid #e5e5e5;
      //text-align: left;
      //margin-bottom: 50px;
      //outline: 1px solid green;
    }
    &__fieldset--os {
      order: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      width: 616px;
      height: 300px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 60px;
      padding-right: 60px;
      background-color: #ffffff;
      border: 2px solid #e5e5e5;
    }
    &__legend--os {
      .form-legend();
      .fontlabel();
      position: absolute;
      top: -8px;
      left: 165px;
      display: block;
      width: 370px;
      padding-left: 60px;
      padding-right: 60px;
      text-align: center;
      background-color: #ffffff;
    }
    &__radio {
      display: none;
    }
    &__label--custom {
      &::before {
        border-radius: 50%;
      }
    }
    &__fieldset--emotions {
      order: 6;
      display: flex;
      position: relative;
      width: 616px;
      height: 292px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 60px;
      padding-right: 60px;
      border: 2px solid #e5e5e5;
      //margin-bottom: 40px;
      //margin-top: 50px;
    }
    &__legend--textarea {
      .form-legend();
      .fontlabel();
      position: absolute;
      top: -8px;
      left: 220px;
      display: block;
      width: 260px;
      text-align: center;
    }
    &__textarea {
      .fontinput();
      width: 496px;
      height: 153px;
      padding-top: 17px;
      font-size: 18px;
      text-align: center;
      border: 2px solid #e5e5e5;
    }
    &__btn {
      order: 7;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 620px;
      height: 63px;
      margin: auto;
      margin-left: 40px;
      margin-right: 40px;
    }
    &__submit {
      .fontinput();
      width: 300px;
      height: 63px;
      background-color: #2aab6d;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      border: none;
      border-radius: 3px;
    }
    &__required {
      .fontinput();
      width: 220px;
      padding-left: 80px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
@media @desktop {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1370px;
    margin: auto;
    margin-top: 92px;
    &__description {
      order: 1;
      width: 820px;
      margin: auto;
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      text-align: center;
      &-add {
        display: block;
      }
    }
    &__fieldset--personal {
      .form-fieldset();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      order: 2;
      width: 450px;
      height: 295px;
      padding-top: 0;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      //text-align: left;
      //margin-bottom: 40px;
      outline: 1px solid red;
    }
    &__text {
      flex-grow: 1;
      display: block;
      width: 300px;
      height: 59px;
      padding-left: 22px;
      padding-right: 22px;
      .fontinput();
      //margin-bottom: 15px;
      //width: 100%;
      border: 2px solid #e5e5e5;
      border-radius: 3px;
      //box-sizing: border-box;
    }
    &__label--text {
      display: block;
      width: auto;
      height: 63px;
      padding: 0;
      padding-right: 20px;
      .fontlabel();
      //color: red;
      //margin-bottom: 10px;
      //outline: 1px solid green;
    }
    &__fieldset--achievements {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      order: 5;
      position: relative;
      width: 820px;
      height: 220px;
      margin: 0 130px;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: #ffffff;
      border: 2px solid #e5e5e5;out
      //padding-top: 30px;
      //margin-bottom: 30px;
      outline: 1px solid green;
    }
    &__legend--achievements {
      .form-legend();
      .fontlabel();
      position: absolute;
      top: -8px;
      left: 250px;
      display: block;
      width: 438px;
      line-height: 18px;
      background-color: #ffffff;
      text-align: center;
      //outline: 1px solid green;
    }
    &__checkbox {
      display: none;
    }
    &__label--custom {
      position: relative;
      display: block;
      width: 200px;
      height: 39px;
      padding-left: 60px;
      .fontinput();
      //margin-bottom: 40px;
      //color: #000000;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
        border: 2px solid #e5e5e5;
      }
    }
    &__fieldset--contacts {
      order: 4;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 800px;
      height: 160px;
      padding-top: 0px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 0px;
      border: 2px solid #e5e5e5;
      //text-align: left;
      //margin-bottom: 50px;
      //outline: 1px solid green;
    }
    &__fieldset--os {
      order: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      width: 300px;
      height: 300px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 70px;
      padding-right: 60px;
      background-color: #ffffff;
      border: 2px solid #e5e5e5;
    }
    &__legend--os {
      .form-legend();
      .fontlabel();
      position: absolute;
      top: -10px;
      left: 30px;
      display: block;
      width: 370px;
      text-align: center;
      background-color: #ffffff;
    }
    &__radio {
      display: none;
    }
    &__label--custom {
      &::before {
        border-radius: 50%;
      }
    }
    &__fieldset--emotions {
      display: flex;
      align-items: center;
      order: 6;
      display: flex;
      position: relative;
      width: 820px;
      height: 220px;
      margin: 0 130px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 60px;
      padding-right: 60px;
      border: 2px solid #e5e5e5;
      //margin-bottom: 40px;
      //margin-top: 50px;
    }
    &__legend--textarea {
      .form-legend();
      .fontlabel();
      position: absolute;
      top: -8px;
      left: 340px;
      display: block;
      width: 260px;
      text-align: center;
    }
    &__textarea {
      .fontinput();
      width: 816px;
      height: 120px;
      padding-top: 17px;
      font-size: 18px;
      text-align: center;
      border: 2px solid #e5e5e5;
    }
    &__btn {
      order: 7;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 940px;
      height: 63px;
      margin: auto;
    }
    &__submit {
      .fontinput();
      width: 300px;
      height: 63px;
      background-color: #2aab6d;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      border: none;
      border-radius: 3px;
    }
    &__required {
      .fontinput();
      width: 220px;
      padding-left: 80px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
