.main-footer {
  padding: 60px 0;
  margin: 0;
  &__container {
    .container();
  }
  .main-footer__logo {
    width: 150px;
    margin: auto auto 30px;
  }
  &__social {
    padding: 0;
    margin: 0 auto 30px;
    list-style: 0;
    width: 200px;
    &-link {
      display: inline-block;
      width: 52px;
      height: 52px;
      margin-right: 10px;
      border-radius: 50%;
      font-size: 0;
      background-color: red;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__copyright {
    width: 150px;
    margin: auto;
  }
}
@media @tablet {
  .main-footer {
    .clearfix();
    padding: 60px 0;
    margin: 0;
    &__container {
      .container();
    }
    &__logo {
      float: left;
      width: 150px;
    }
    &__social {
      float: left;
      padding: 0;
      margin: 0;
      margin-left: 60px;
      list-style: 0;
      width: 200px;
      &-link {
        display: inline-block;
        width: 52px;
        height: 52px;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 0;
        background-color: red;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__copyright {
      float: right;
      width: 150px;
    }
  }
}
@media @desktop {
  .main-footer {
    .clearfix();
    padding: 60px 0;
    margin: 0;
    &__container {
      .container();
    }
    &__logo {
      float: left;
      width: 150px;
      margin-right: 220px;
    }
    &__social {
      float: left;
      padding: 0;
      margin: 0;
      margin-left: 200px;
      list-style: 0;
      width: 200px;
      &-link {
        display: inline-block;
        width: 52px;
        height: 52px;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 0;
        background-color: red;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__copyright {
      float: right;
      width: 150px;
    }
  }
}
