.main-nav {
  &__list {
    display: none;
  }
  &__toggle {
    //float: right;
    display: block;
    width: 50px;
    height: 24px;
    font-size: 0;
    background: url("../img/icon-menu-burger.svg") no-repeat;
  }
}
@media @tablet {
  .main-nav {
    &__toggle {
      //float: right;
      display: block;
      width: 50px;
      height: 24px;
      font-size: 0;
      background: url("../img/icon-menu-burger.svg") no-repeat;
    }
    &__list {
      display: none;
    }
  }
}
@media @desktop {
  .main-nav {
    flex-grow: 1;
    min-height: 18px;
    &__toggle {
      display: none;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width:auto;
      padding: 0;
      margin: 0;
      list-style: none;
    }
    &__item {

    }
    &__link {
      font-size: 18px;
      line-height: 18px;
      font-family: "Open Sans","Arial",sans-serif;
      font-weight: 400;
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
