.main-footer {
  padding: 60px 0;
  margin: 0;
  .main-footer__container {
    width: 280px;
    margin: auto;
    .main-footer__logo {
      width: 150px;
      margin: auto auto 30px;
    }
    .main-footer__social {
      padding: 0;
      margin: 0 auto 30px;
      list-style: 0;
      width: 200px;
      .main-footer__social-link {
        display: inline-block;
        width: 52px;
        height: 52px;
        margin-right: 10px;
        border-radius: 50%;
        font-size: 0;
        background-color: red;
      }
      .main-footer__social-link:last-child {
        margin-right: 0;
      }
    }
    .main-footer__copyright {
      width: 150px;
      margin: auto;
    }
  }
}
@media (min-width: 321px) and (max-width: 700px) {
  .main-footer {
    .clearfix();
    padding: 60px 0;
    margin: 0;
    .main-footer__container {
      width: 620px;
      margin: auto;
      .main-footer__logo {
        float: left;
        width: 150px;
        margin-right: 70px;
      }
      .main-footer__social {
        float: left;
        padding: 0;
        margin: 0;
        list-style: 0;
        width: 200px;
        .main-footer__social-link {
          display: inline-block;
          width: 52px;
          height: 52px;
          margin-right: 10px;
          border-radius: 50%;
          font-size: 0;
          background-color: red;
        }
        .main-footer__social-link:last-child {
          margin-right: 0;
        }
      }
      .main-footer__copyright {
        float: right;
        width: 150px;
      }
    }
  }
}
@media (min-width: 701px) {
  .main-footer {
    .clearfix();
    padding: 60px 0;
    margin: 0;
    .main-footer__container {
      width: 940px;
      margin: auto;
      .main-footer__logo {
        float: left;
        width: 150px;
        margin-right: 220px;
      }
      .main-footer__social {
        float: left;
        padding: 0;
        margin: 0;
        list-style: 0;
        width: 200px;
        .main-footer__social-link {
          display: inline-block;
          width: 52px;
          height: 52px;
          margin-right: 10px;
          border-radius: 50%;
          font-size: 0;
          background-color: red;
        }
        .main-footer__social-link:last-child {
          margin-right: 0;
        }
      }
      .main-footer__copyright {
        float: right;
        width: 150px;
      }
    }
  }
}
