.main-header {
  width: auto;
  padding-bottom: 30px;
  background: #1d2631 url("../img/bg-back-mobile.jpg") no-repeat -190px 0;
  &__head {
    margin-bottom: 30px;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: #1d2631;
    opacity: 0.7;
    outline:1px solid #ffffff;
  }
  &__container {
    .container();
    .clearfix();
  }
  &__logo {
    float: left;
    width: 75px;
    height: 22px;
  }
}
@media (min-width: 660px) and (max-width: 959px) {
  .main-header {
    width: auto;
    padding-bottom: 60px;
    &__head {
      padding-top: 44px;
      padding-bottom: 42px;
      margin-bottom: 100px;
    }
    &__container {
      .container();
    }
    &__logo {
      float: left;
      width: 147px;
      margin-right: 170px;
    }
  }
}
@media (min-width: 960px) {
  .main-header {
    padding-bottom: 60px;
    &__head {
      padding-top: 44px;
      padding-bottom: 42px;
      margin-bottom: 100px;
    }
    &__container {
      .container();
    }
    &__logo {
      float: left;
      width: 147px;
      margin-right: 170px;
    }
  }
}
