.main-header {
  background: #1d2631 url("../img/bg-back-mobile.jpg") no-repeat;
}

.main-header__container {
  width: 280px;
  height: 24px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin: 0 auto;
  margin-bottom: 30px;
  .clearfix();
}

.main-header__logo {
  float: left;
  width: 75px;
  height: 22px;
}
