.page-footer {
  &__map {
    display: block;
    width: auto;
    background-color: grey;
  }
}
@media (min-width: 660px) and (max-width: 959px) {
  .page-footer {
    &__map {
      display: block;
      width: auto;
      background-color: grey;
    }
  }
}
@media (min-width: 960px) {
  .page-footer {
    &__map {
      display: block;
      width: auto;
      background-color: grey;
    }
  }
}
